body{
	margin: 0;
}
nav{
    min-height: 88px;
    background-color: navy;
	text-align: center;
    width: 100%;
}

#bbal{
	
    display: block;
	position:absolute;
	left: 44%;
	top: .5%;
    
}
#singlesearch #oneplayerField{
    position: absolute;
    left:.7%;
    top: 5%;
    padding: 5px 2px 5px 2px;
    font-size: 16px;
}

#firstdouble #playerField1{
    position: absolute;
    left: 56%;
    top:5%;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
}
#seconddouble #playerField2{
    position: absolute;
    left:72%;
    top: 5%;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    
}
#doublebutton #double{
    position: absolute;
    left:88%;
    top: 5%;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
}

#singlebutton #single{
    position: absolute;
    left:17%;
    top: 5%;
    padding: 5px 2px 5px 2px;
    font-size: 16px;
}   
#info{
    position: absolute;
    color: white;
    left: 31%;
    top: 2%;
   
    
}

#mistake{
font-size: 50px;

    
}



 